extends ../layout

append js-bottom
  script(src="/javascripts/product/list.js")
  script(src="/javascripts/pager.js")

block content
  include ../category/list
  #list
    unless products.length
      #no-result 无结果
    each product in products
      url = '/products/' + product._id;
      .item
        #imageContainer
          a(href= url, title= product.name)
            if Array.isArray(product.images) && product.images[0]
              img(src= '/images/products/' + product.images[0])
            else
              img(src='/images/no-image.png')

        h3#name
          a(href= url)= product.name
        ul.info
          li.categ
            categ = product.categories[0]
            if categ
              a(href="/products?category=#{categ._id}")= categ.name
            else
              a 未分类
          li.mfr 由
            a(href="/mfrs/#{product.mfr._id}")= product.mfr.shortName
            | 销售制造
          //-li.desc
          //-  span= product.desc
          if typeof product.extra === 'object'
            each item, i in product.extra
              li
                span= i + ": "
                span= item
  unless typeof pages === 'undefined'
    .pager.pager-centerd.hidden #{pages}

